<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Virtual path</th>
            <th>Navigation name</th>
            <th>  <button class="btn btn-success btn-circle" 
                [routerLink]="['/admin/webpage/add']"          
                      title="Add Web Page">
                      <i class="fa fa-plus"></i> 
              </button> </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let wp of webpages">
            <td>{{wp.id}}</td>
            <td>{{wp.virtualPath}}</td>
            <td>{{wp.navigationName}}</td>           
            <td style="width: 70px;">               
                   <a [routerLink]="['/admin/webpage/edit', wp.id]"> <i class="fa fa-edit pointer"></i></a>                  
                  <i class="fa fa-trash pointer"    
                    (click)="delete(wp)" title="Delete"></i>
            </td>
        </tr>
    </tbody>
</table>
<button class="btn btn-primary" (click)="downloadFile()"><i class="fa fa-file-excel-o"></i> Download</button>
