<div style="text-align:center">
  <h1>
    <!-- To show this line of text remove fixed-top from nav component -->
    Welcome to {{title}}!
  </h1>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['']">Wp-fe </a>

      <!-- website -->
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li *ngFor="let wp of webpages" class="nav-item active">
            <a class="nav-link" [routerLink]="[wp.virtualPath]">{{wp.navigationName}}</a>
          </li>
          <!-- <li class="nav-item active">
          <a class="nav-link" [routerLink]="['page/home' ]">home</a>
        </li>-->
        </ul>
      </div>
      <a class="ml-auto" href="http://localhost:4200">Go to admin</a>

    </div>
  </nav>
  <br>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>