<div class="row">
<div class="col-sm-4 offset-sm-4 text-center">
<form (submit)="loginUser()" class="form-signin">
		<img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
		<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
		<label for="username" class="sr-only">User name</label>
		<input [(ngModel)]="username" name="username" type="text" class="form-control" placeholder="User name" required autofocus>
		<label for="inputPassword" class="sr-only">Password</label>
		<input type="password" [(ngModel)]="password" name="password" class="form-control" placeholder="Password" required>
		<div class="checkbox mb-3">
		  <label>
			<input type="checkbox" value="remember-me"> Remember me
		  </label>
		</div>
		<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
	  </form>
	</div>
</div>



