<div class="card card-body bg-light" *ngIf="roles">
  <form [formGroup]="newUserForm" (ngSubmit)="createUser()" class="form-inline">
    <div class="form-group">
      <!-- <label class="control-label" for="roleName">Create new role</label> -->
      <input formControlName="userName" placeholder="User name" class="form-control">
      <input formControlName="password" placeholder="Password" class="form-control">
    </div>
    <button type="submit" class="btn btn-secondary">Create New Account</button>
  </form>
</div>
<div class="col-md-6">

  <div class="row">
    <div class="col">
      <table class="table">
        <tr>
          <th class="text-left">Name
          </th>
          <th>
          </th>
        </tr>
        <tr *ngFor="let user of users">
          <td class="text-left">
            {{user.name}}
          </td>
          <td class="float-right">
              <a [routerLink]="['/security/users/edit', user.name]"> Edit</a>    
            <button class="btn btn-link" (click)="deleteUser(user)">Delete</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>