
<!-- <router-outlet></router-outlet> -->



<ng-template #template>
  <div class="modal-body text-center">
    <p>Are you sure you want to delet?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Yes</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
  </div>
</ng-template>

<div class="alert-danger">{{errorMessage}}</div>

<div class="input-group">
    <input type="text" class="form-control" 
            placeholder="Search" 
            aria-describedby="basic-addon1">
    <span class="input-group-addon" id="basic-addon1">Search</span>
</div> 
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Virtual path</th>
            <th>Navigation name</th>
            <th>  <button class="btn btn-success btn-circle" 
                [routerLink]="['/page/add']"          
                      title="Add Page">
                      <i class="fa fa-plus"></i> 
              </button> </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let page of pages">
            <td>{{page.id}}</td>
            <td>{{page.virtualPath}}</td>
            <td>{{page.navigationName}}</td>           
            <td style="width: 70px;">               
                   <a [routerLink]="['/page/edit', page.id]"> <i class="fa fa-edit pointer"></i></a>                  
                  <i class="fa fa-trash pointer"    
                    (click)="delete(page, template)" title="Delete"></i>
            </td>
        </tr>
    </tbody>
</table>
