<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['']">WpCore </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
      aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- website -->
    <div class="collapse navbar-collapse" id="navbarColor01" *ngIf="!showAdmin">
      <ul class="navbar-nav mr-auto">
        <li *ngFor="let wp of webpages" class="nav-item active">
          <a class="nav-link" [routerLink]="['website/page/' + wp.virtualPath]">{{wp.navigationName}}</a>
        </li>
      </ul>
    </div>

    <!-- admin -->
    <div class="collapse navbar-collapse" id="navbarColor01" *ngIf="showAdmin">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['admin/webpage/list']"><i class="fa fa-bars"></i> webpage</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li> -->
      </ul>
      <!-- <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/nasir016g">
              <i class="fa fa-github" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    </div>
    <div *ngIf="isAuthenticated">
      <button class="btn btn-success ml-auto" value="getBtnText()" (click)="toggle()">{{getBtnText()}}</button>
    </div>

    <!-- login -->
    <div *ngIf="isAuthenticated">
      <a [routerLink]="" class=" nav-link m-2" (click)="logout($event)">Logout</a>
    </div>
    <div *ngIf="!isAuthenticated">
      <a [routerLink]="['login']" class=" nav-link m-2">Login</a>
    </div>
  </div>
</nav>
<br>